html,
body {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'roboto', sans-serif;
	font-size: 14px;
}


.container {
	max-width:960px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	display: inline-block;
	padding: 1em 2em;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}

.btn--blue {
	background-color: #58a4b0;
}

.btn--red {
	background-color: #c84630;
}

.main__content {
	display: grid;
	padding: 0 15px;
	max-width: 1120px;
	margin: 0 auto;
}
.main__title {
	text-align: center;
	font-size: 4em;
}
@media( min-width: 960px) {
	.main__content {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}
}

.sidebar {
	padding: 0 15px;
}

.legend {
	list-style-type: none;
	padding: 0px;
}
.legend li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	font-weight: 700;
}

.legend-item {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
}

.legend-item--ship {
	background-color: #fff;
}

.legend-item--empty {
	background-color: #58a4b0;
}

.legend-item--miss{
	background-color: #58a4b0;
}

.legend-item--hit {
	background-color: #c84630;
}

.legend-item--miss::before,
.legend-item--hit::before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #000;
	transform: rotatez(45deg);
	width: 100%;
	height: 1px;
}

.legend-item--miss::after,
.legend-item--hit::after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #000;
	transform: rotatez(135deg);
	width: 100%;
	height: 1px;
}


.battle-grid {
	display: grid;
	width: 500px;
	height: 500px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr );
	grid-gap: 0 0;
	margin: 0 auto;
	background-color: #fff;
}

/*
	0 - empty
	1 - ship
	2 - reserved cell, near the ship (not shown with css)
	3 - miss
	4 - hit
*/

.grid-cell {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	color: #fff;
	padding: 0.5em;
	text-align: center;
	cursor: pointer;
	background-color: #58a4b0;
}


.grid-cell-1 {
	background: #fff;
	color: black;
}

.grid-cell-3::before,
.grid-cell-4::before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #000;
	transform: rotatez(45deg);
	width: 100%;
	height: 1px;
}

.grid-cell-3::after,
.grid-cell-4::after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #000;
	transform: rotatez(135deg);
	width: 100%;
	height: 1px;
}

/*.grid-cell-3 {
	background-color: #e3e3e3;
}*/

.grid-cell-4 {
	background-color: #c84630;
}
.grid-cell-id {
	position: absolute;
	padding: 0.25em;
	top: 0;
	right: 0;
	font-size: 0.75em;
}

.battle-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
	z-index: 1000;
	color: #fff;
}
.battle-controls .container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
	flex-wrap: nowrap;
}
.battle-controls .item {
	padding: 0 15px;
}
.battle-controls .last-item {
	margin-left: auto;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
	font-size: 2em;
	z-index: 1050;
}